# Ignore objects, module interfaces and output files
*.o
*.mod
*.dat
*.log

# Ignore pdf files
*.pdf

# Ignore directories created
.ipynb_checkpoints
bin/
lib/
__pycache__
tests/__pycache__
sotb_wrapper/__pycache__
sotb_wrapper/examples/__pycache__
sotb_wrapper/examples/dask-worker-space

# Distribution / packaging
/*.egg-info/
RELEASE-VERSION
