# Ignore objects, module interfaces and output files
*.o
*.mod
*.dat
*.log

# Ignore pdf files
*.pdf

# Ignore directories created
bin/
lib/
tests/__pycache__
seiscope_opt_tb_wrapper/__pycache__
seiscope_opt_tb_wrapper/examples/__pycache__
seiscope_opt_tb_wrapper/examples/dask-worker-space
