name: Python test

on:
  push:
    branches: [main, test_coverage]
  pull_request:
    branches: [main]
  workflow_dispatch:
      
jobs:
  test:
    name: ${{ matrix.os }} / ${{ matrix.python_version }}
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu]
        python_version: ["3.8", "3.9", "3.10"]
        include:
          - os: ubuntu
            cc: gcc-10
            cxx: g++-10
            fc: gfortran-10                
            
    steps:          
      - uses: actions/checkout@v3
      - name: Install Python ${{ matrix.python_version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python_version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade nox          
      - name: Run `nox -s tests`     
        run: python -m nox -s tests-${{ matrix.python_version }}       
        env:
          CC: ${{ matrix.cc }}
          CXX: ${{ matrix.cxx }}
          FC: ${{ matrix.fc }}
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
